.header {
    width: 100%;
    background-color: #ffe44d;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.header__logo {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 620px) {
    .header__wrapper {
        gap: 10px;
        flex-wrap: wrap;
    }
}
