.search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.search__input {
    width: 100%;
    background: #ffffff;
    border-radius: 24px;
    padding: 12px 20px;
    border: none;
    color: #1a1a1a;
    line-height: 125%;
}

.search__input:focus {
    outline: none;
}

.search__icon {
    color: #767676;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.2s;
}
.search__icon:hover {
    color: #3b3b3b;
}

@media (max-width: 620px) {
    .search {
        order: 1;
    }
}
