.product__counter_btns {
    width: 109px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cfd8dc;
    border-radius: 100px;
    padding: 16px;
}

.btn_minus,
.btn_plus {
    font-size: 18px;
    cursor: pointer;
}
