main {
    min-height: 80vh;
    overflow: hidden;
    background: url('./img/24493-orig.jpg');
    padding-top: 40px;
}

.active {
    color: orangered;
    text-decoration: underline;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
